html{
    scroll-behavior: smooth;
  }

header,body{
   font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

body{
   margin:0 auto;
}    

 header{
    position:fixed;
    top:0;
    z-index:10;
    background-color:#FF8F22;
    opacity:0.8;
    color:white;
 }


 header a{
     color:white;
     font-size:20px;
     text-decoration:none;
     font-weight:600;
 }


 .cafe,.staff,.event,.footer-access{
   text-align:center;
   width:80%;
   padding-left:10%;
}

.cafe{
    font-size:24px;
}

.map{
   padding-top:5%;
}

p{
   line-height:140%;
   font-size:90%;
 }

.staff{
   padding-bottom:10%;
   font-size:150%;
}

 .staff a{
    color:#0066FF;
    font-weight:600;
    text-decoration:none;

 }

.event p{
   font-size:50px;
   font-weight:bold;
}

iframe{
    width:60vw;
    height:60vw
}


 img{
   padding-top:5%;
}
