html{
    scroll-behavior: smooth;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

  }

body{
   margin:0;
}    

 header{
    position:fixed;
    top:0;
    z-index:10;
    background-color:#FF8F22;
    opacity:0.8;
    color:white;
 }

 header a{
     color:white;
     font-size:20px;
     text-decoration:none;
     font-weight:600;
 }



.cafe{
    font-size:24px;
}


p{
   line-height:120%;
 }

.map{
    padding-top:5%;
}

.staff{
   padding-bottom:10%;
}

 .staff a{
    color:#0066FF;
    font-weight:600;
    text-decoration:none;
 }

 

 .staff-jiko p{
   line-height:120%;
 }

.event p{
   font-size:200px;
   font-weight:bold;
}

 footer{
    background-color:black;
    color:white;
    width:100%;
    z-index:10;
    opacity:0.8;
 }
